<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar bg-dark">
    <h3 class="ms-4"> <%= link_to "Home", lists_path, class: "text-decoration-none text-light text-center" %> </h3>
    <h3 class="me-4"> <%= link_to "New List", new_list_path, class: "text-decoration-none text-light align-content-center" %> </h3>
    </div>
    <%= yield %>
  </body>
</html>
